.form-control {
    border-radius: 4px;
    height: 30px;
}

.label-required:before {
    content: ' * ';
    color: #ff0000;
}

.label-blank:before {
    content: ' * ';
    color: #ffffff;
}

.padding-top-20 {
    padding-top: 20px;
}