.form-control {
    border-radius: 4px;
    height:        30px;
    width:         100% !important;
}

.page-total-color {
    color: #3c8dbc !important;;
}

.label-required:before {
    content: ' * ';
    color:   #ff0000;
}

.label-blank:before {
    content: ' * ';
    color:   #ffffff;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.padding-right-0 {
    padding-right: 0 !important;
}

.margin-right-15 {
    margin-right: 15px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}

.width-90 {
    width: 90px !important;
}

.height-26 {
    height: 26px !important;
}

.list-img {
    width: 120px;
    height: 24px;
}