<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title>课程安排</title>
    <link th:href="@{/css/wechat/media.css}" rel="stylesheet"/>
    <link th:href="@{/css/wechat/index.css}" rel="stylesheet"/>
</head>
<body>
<div id="header">
    <a href="javascript:history.back(-1);" class="goback"></a>
</div>
<div class="main class">
    <div class="box pb10">
        <div class="title" th:utext="${activity.title}"></div>
        <p class="action">请扫描主办方二维码签到</p>
        <ul>
            <li th:each="c:${courses}">
                <p th:utext="${#dates.format(c.beginTime,'yyyy-MM-dd HH:mm')}"></p>
                <span th:if="${c.signInTime!=null}" class="green">已签到</span>
                <span class="compare-time" th:if="${c.signInTime==null}" th:attr="time=${#dates.format(c.beginTime,'yyyy-MM-dd HH:mm:ss')}"></span>
            </li>
        </ul>
        <div class="sign-aciton btn J_sign">签到说明</div>
    </div>
    <div class="act-address">
        <span>活动地址</span>
        <p th:utext="${activity.address}"></p>
    </div>
</div>

<div class="overbg none"></div>
<div class="sign-aciton-con none">
    <div class="sign-aciton-info">
        <span class="title">签到说明</span>
        <p>
            报名成功后，请您按照课程安排，准时参加课程。
            在课程时间内，扫描主办方提供的二
            维码即为签到成功。
            积分规则：报名课程加1分，每参加一
            课时并签到成功加1分，缺勤一课时或
            未签到成功扣2分。
        </p>
    </div>
    <div class="close"></div>
</div>

<div th:replace="fragments/wechatJs"></div>
<script th:src="@{/js/wechat/class.js}" charset="utf-8"></script>
</body>
</html>
