<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title th:utext="#{title}">活动详情</title>
    <link th:href="@{/css/wechat/index.css}" rel="stylesheet"/>
</head>
<body>
<div id="header">
    <a href="javascript:history.back(-1);" class="goback"></a>
</div>
<div class="main detail">
    <div class="img-box">
        <img th:src="${file.filePath}"/>
    </div>
    <div class="box">
        <h2 class="title" th:utext="${activity.title}"></h2>
        <div class="course">
            <div class="course-time">
                <i class="fl circle"></i>
                <span th:utext="${#dates.format(activity.beginTime,'yyyy-MM-dd')}+'至'+${#dates.format(activity.endTime,'yyyy-MM-dd')}"></span>
            </div>
            <div class="course-address">
                <i class="fl circle"></i>
                <span th:utext="${activity.address}"></span>
            </div>
            <input type="hidden" id="activityId" th:value="${activity.id}" readonly="readonly"/>
        </div>
    </div>

    <div class="act box">
        <div class="act-name">
            <div class="fl">活动简介</div>
            <div class="fr">
                <em class="views">
                    <i class="icon-view"></i>
                    <span th:utext="${watchedTotal}"></span>
                </em>
                <em class="collect">
                    <i class="icon-collect" id="thumbup" onclick="thumbup();" th:classappend="${isThumbup}?'active'"></i>
                    <span id="thumbupTotal" th:utext="${thumbupTotal}"></span>
                </em>
            </div>
        </div>
        <div class="act-info" th:utext="${desc.description}"></div>
        <div class="enter" th:classappend="${activityStatus!='我要报名'}?'isfull'">
            <p>剩余名额<b th:if="${activity.maxLimit!=null} and ${activity.maxLimit!=0}" th:utext="${activity.maxLimit}-${enrollTotal}"></b>
                <b th:unless="${activity.maxLimit!=null} and ${activity.maxLimit!=0}" th:utext="无限制"></b>
            </p>
            <span th:if="${activityStatus=='我要报名'}" th:utext="${activityStatus}" onclick="enrollActivity();"></span>
            <span th:if="${activityStatus!='我要报名'} and ${activityStatus!='微信报名'}" th:utext="${activityStatus}"></span>
        </div>
    </div>
</div>
<div th:replace="fragments/wechatJs"></div>
<script th:src="@{/js/wechat/detail.js}" charset="utf-8"></script>
</body>
</html>
