<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title th:utext="#{title}">报名成功</title>
    <link th:href="@{/css/wechat/media.css}" rel="stylesheet"/>
    <link th:href="@{/css/wechat/index.css}" rel="stylesheet"/>
    <script type="text/javascript">
        grantAuthInfo();
    </script>
</head>
<body>
<div id="header">
    <a href="javascript:history.back(-1);" class="goback"></a>
</div>
<div class="main box">
    <h2>报名成功</h2>
    <p class="acinfo">参加活动时<br/>扫描主办方二维码即可</p>
    <div class="link">
        <a class="fl btn" id="courseList" th:attr="activityId=${activityId}">课程安排</a>
        <a class="fr btn" id="activityList">看看别的</a>
        <input type="hidden" id="appId" th:value="${appId}" readonly="readonly"/>
        <input type="hidden" id="redirectUrl" th:value="${redirectUrl}" readonly="readonly"/>
    </div>
</div>

<div th:replace="fragments/wechatJs"></div>
<script type="text/javascript">
    $(function () {
        $("#courseList").on('click', function () {
            window.location.href = base + '/wechat/course/info/' + $("#courseList").attr("activityId");
        });
        $("#activityList").on('click', function () {
            window.location.href = base + '/wechat/portal/index?state=INDEX';
        });
    });
</script>
</body>
</html>
