<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>报名成功</title>
    <link th:href="@{/css/wechat/media.css}" rel="stylesheet"/>
    <link th:href="@{/css/wechat/index.css}" rel="stylesheet"/>
</head>
<body>
<div id="header">
    <a href="javascript:history.back(-1);" class="goback"></a>
</div>
<div class="main box">
    <h2>报名成功</h2>
    <p class="acinfo">参加活动时<br/>扫描主办方二维码即可</p>
    <div class="link">
        <a class="fl btn" href="class.html">课程安排</a>
        <a class="fr btn" href="list.html">看看别的</a>
    </div>
</div>

<script th:src="@{/js/jQuery/jQuery-2.1.4.min.js}"></script>
</body>
</html>
