<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title th:utext="#{title}">活动列表</title>
    <link th:href="@{/js/wechat/slider/swipeslider.css}" rel="stylesheet"/>
    <link th:href="@{/css/wechat/index.css}" rel="stylesheet"/>
</head>
<body>
<div class="main list">
    <div class="top box fixed">
        <div class="title">
            <img th:src="@{/img/wechat/logo.png}" class="logo"/>
            <div class="add">
                <select id="district" onchange="loadData();">
                    <option value="">全部</option>
                    <option th:each="d:${districts}" th:value="${d.id}" th:utext="${d.name}"></option>
                </select>
                <i class="icon-down"></i>
            </div>
            <input type="hidden" th:if="${hasAuth}" id="openid" th:value="${openid}" readonly="readonly"/>
        </div>
    </div>

    <div class="box">
        <div id="slider" class="slider">
            <div id="full_feature" class="swipslider">
                <ul class="sw-slides" id="cover">
                    <li class="sw-slide" th:each="img:${imgList}">
                        <a th:href="${img.url}">
                            <img th:src="${img.filePath}"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab">
        <div class="tab-li box">
            <ul id="title-ul">
                <li class="title-li active"><span>活动列表</span></li>
                <li class="title-li"><span>活动回顾</span></li>
                <li class="title-li"><span>我的</span></li>
            </ul>
        </div>
        <div id="tab-ul" class="tab-con">
            <div class="act-list box" id="actListInfo"></div>
            <div class="act-review box none" id="actReviewListInfo"></div>
            <div class="my none" th:unless="${hasAuth} and ${openid!=null} and ${openid!=''}">
                <span>请在微信中打开该链接</span>
            </div>
            <div class="my none" th:if="${hasAuth} and ${openid!=null} and ${openid!=''}">
                <div class="my-top box">
                    <div class="fl">
                        <span>Bobby</span>
                        <p>我的积分：<b th:utext="${user.score}"></b>
                            <a th:href="@{/wechat/user/score(openid=${openid})}" class="icon-left"></a>
                        </p>
                    </div>
                    <div class="fr">
                        <img th:src="${user.headImgUrl}"/>
                    </div>
                </div>
                <div class="my-class">
                    <span class="title">我参加的活动</span>
                    <div th:if="${#lists.isEmpty(mylist)}" class="no-class">
                        <img th:src="@{/img/wechat/nojoin.png}"/>
                        <span>尚未参加任何活动</span>
                    </div>
                    <div th:if="${not #lists.isEmpty(mylist)}" class="my-list">
                        <ul class="scroll-tab" id="mylist"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/wechatJs"></div>
<script th:src="@{/js/wechat/slider/swipeslider.js}" charset="utf-8"></script>
<script th:src="@{/js/wechat/list.js}" charset="utf-8"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('#full_feature').swipeslider();
    });

</script>
</body>
</html>
