<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title th:utext="#{title}"></title>
    <!--<title>我的积分</title>-->
    <link th:href="@{/css/wechat/index.css}" rel="stylesheet"/>
</head>
<body>
<div id="header">
    <a href="javascript:history.back(-1);" class="goback"></a>
</div>
<div class="main score">
    <div class="myscore box"><b th:utext="${user.score}"></b><span>个积分</span></div>
    <img class="banner" th:if="${adsense.filePath == null}" th:src="@{/img/wechat/banner.jpg}"/>
    <img class="banner" th:unless="${adsense.filePath == null}" th:src="${adsense.filePath}"/>
    <div class="score-info box">
        <span class="title">积分明细</span>
        <p class="noscore" th:if="${#lists.isEmpty(scores)}">暂无积分</p>
        <ul class="score-list" th:unless="${#lists.isEmpty(scores)}">
            <li th:each="c:${scores}">
                <div class="fl">
                    <span th:utext="${c.reason}"></span>
                    <p th:utext="${#dates.format(c.createDate,'yyyy-MM-dd HH:mm')}"></p>
                </div>
                <div class="fr">
                    <span th:if="${c.score>0}" th:utext="'+'+${c.score}"></span>
                    <span th:unless="${c.score>0}" th:utext="${c.score}"></span>
                </div>
            </li>
        </ul>
    </div>
</div>

<div th:replace="fragments/wechatJs"></div>
</body>
</html>
