<script type="text/javascript" th:inline="javascript">
    var base = /*[[@{/}]]*/;
    base = base.substr(0, base.length - 1);
</script>
<script src="../../js/jQuery/jQuery-2.1.4.min.js" th:src="@{/js/jQuery/jQuery-2.1.4.min.js}"></script>
<script src="../../js/bootstrap/bootstrap.min.js" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<script src="../../js/app/app.min.js" th:src="@{/js/app/app.min.js}"></script>
<script src="../../js/start/start.js" th:src="@{/js/start/start.js}"></script>
