<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
    <!--<meta charset="utf-8" />-->
    <!--<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />-->
    <!--<title>开票申请</title>-->
    <!--<link rel="stylesheet" href="../../css/weixin/weui.min.css" th:href="@{/css/weixin/weui.min.css}" />-->
    <!--<link rel="stylesheet" href="../../css/weixin/style.css" th:href="@{/css/weixin/style.css}" />-->
    <!--&lt;!&ndash;<script src="../../js/accounting/weixin/weixin.js" th:src="@{/js/accounting/weixin/weixin.js}"></script>&ndash;&gt;-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->