<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:with="level1Menu='activityManager',level2Menu='activityList'">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:utext="#{title}"></title>
    <link th:replace="fragments/style"/>
    <link th:href="@{/css/validation/jquery.validationEngine.css}" rel="stylesheet" type="text/css"/>
</head>

<body class="skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="fragments/header"></div>
    <div th:replace="fragments/sidebar"></div>
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <section class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title" th:utext="创建活动"></h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-default" onclick="goHistory();">返回</button>
                                <button type="button" class="btn btn-primary" onclick="save();">保存</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <form id="addForm" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="title" class="col-sm-2 control-label label-required">活动标题</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control validate[required]" id="title" placeholder="请输入标题"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="district" class="col-sm-2 control-label label-required">所属区域</label>
                                        <div class="col-sm-8">
                                            <select id="district" class="form-control">
                                                <option th:each="d : ${districts}" th:value="${d.id}" th:utext="${d.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="address" class="col-sm-2 control-label label-required">活动地址</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control validate[required]" id="address" placeholder="请输入地址"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="beginTime" class="col-sm-2 control-label label-required">活动时间</label>
                                        <div class="col-sm-8">
                                            <div class="col-md-6 padding-left-0">
                                                <input type="text" class="form-control validate[required]" id="beginTime" placeholder="开始时间"/>
                                            </div>
                                            <div class="col-md-6 padding-right-0">
                                                <input type="text" class="form-control validate[required]" id="endTime" placeholder="结束时间"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="maxLimit" class="col-sm-2 control-label label-blank">报名人数限制</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="maxLimit" placeholder="0, 默认不限制人数"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="setting" class="col-sm-2 control-label label-blank">报名表单设置</label>
                                        <div class="col-sm-8 padding-left-0" id="setting">
                                            <div class="col-sm-4"><input type="checkbox" id="useName"/> 姓名</div>
                                            <div class="col-sm-4"><input type="checkbox" id="useSex"/> 性别</div>
                                            <div class="col-sm-4"><input type="checkbox" id="usePhone"/> 联系电话</div>
                                            <div class="col-sm-4"><input type="checkbox" id="usePolitical"/> 政治面貌</div>
                                            <div class="col-sm-4"><input type="checkbox" id="useCompany"/> 工作单位</div>
                                            <div class="col-sm-4"><input type="checkbox" id="useJob"/> 职务</div>
                                            <div class="col-sm-4"><input type="checkbox" id="useCard"/> 证件</div>
                                            <div class="col-sm-4"><input type="checkbox" id="useProfile"/> 个人简介</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="description" class="col-sm-2 control-label label-blank">活动介绍</label>
                                        <div class="col-sm-8">
                                            <textarea id="description" class="editor" cols="150" rows="42" style="height: 500px;"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="uploadFileID" class="col-sm-2 control-label label-blank">上传封面</label>
                                        <div class="col-sm-8">
                                            <input type="file" class="form-control" id="uploadFileID" accept="image/jpg, image/jpeg, image/png"/>
                                            <span>只能上传jpg/png图片，文件不能超过500kb</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label label-blank">课程设置</label>
                                        <div class="col-sm-10" id="courseDiv">
                                            <section class="form-group col-md-12 course-tr">
                                                <div class="col-sm-9 padding-left-0">
                                                    <div class="col-md-4 padding-left-0">
                                                        <input type="text" class="form-control course-name validate[required]" placeholder="课程名称"/>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control course-time begin-time validate[required]" placeholder="开始时间"/>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control course-time end-time validate[required]" placeholder="结束时间"/>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 group-btn">
                                                    <button type="button" class="btn btn-default course-add margin-right-15" onclick="copyCourseTr(this);">增加</button>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>

<div th:replace="fragments/commonJs"></div>
<script th:src="@{/js/layer/laydate.js}" type="text/javascript"></script>
<script th:src="@{/js/validation/jquery.validationEngine.min.js}" type="text/javascript"></script>
<script th:src="@{/js/validation/jquery.validationEngine-zh_CN.js}" type="text/javascript"></script>
<!-- 配置文件 -->
<script th:src="@{/js/ueditor/ueditor.config.js}" type="text/javascript"></script>
<!-- 编辑器源码文件 -->
<script th:src="@{/js/ueditor/ueditor.all.js}" type="text/javascript"></script>
<script th:src="@{/js/ueditor/lang/zh-cn/zh-cn.js}" type="text/javascript" charset="utf-8"></script>
<!-- 实例化编辑器 -->
<script th:src="@{/js/activity/centers/editor.js}" type="text/javascript"></script>
<script th:src="@{/js/activity/centers/add.js}" type="text/javascript"></script>
</body>
</html>