<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.activity.mapper.ActivityEnrollMapper">
    <resultMap id="BaseResultMap" type="com.activity.model.ActivityEnroll">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="activity_id" property="activityId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="political" property="political" jdbcType="VARCHAR"/>
        <result column="company" property="company" jdbcType="VARCHAR"/>
        <result column="job" property="job" jdbcType="VARCHAR"/>
        <result column="profile" property="profile" jdbcType="VARCHAR"/>
        <result column="card_face" property="cardFace" jdbcType="INTEGER"/>
        <result column="card_back" property="cardBack" jdbcType="INTEGER"/>
        <result column="active" property="active" jdbcType="BIT"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, activity_id, user_id, name, sex, phone, political, company, job, card_face, card_back, profile, active, create_date
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from activity_enroll
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectList" resultMap="BaseResultMap" parameterType="com.activity.model.ActivityEnroll">
        select
        <include refid="Base_Column_List"/>
        from activity_enroll
        where 1 = 1
        <if test="activityId != null">
            and activity_id = #{activityId,jdbcType=INTEGER}
        </if>
        <if test="userId!=null">
            and user_id = #{userId,jdbcType=INTEGER}
        </if>
        <if test="active != null">
            and active = #{active,jdbcType=BIT}
        </if>
        <if test="name!=null and name!=''">
            and name like concat('%', #{name, jdbcType=VARCHAR}, '%')
        </if>
        order by id desc
    </select>

    <insert id="insert" parameterType="com.activity.model.ActivityEnroll">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            select LAST_INSERT_ID()
        </selectKey>
        insert into activity_enroll (activity_id, user_id, name, sex, phone, political, company, job, card_face, card_back, profile, active, create_date)
        values (#{activityId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{political,jdbcType=VARCHAR},
        #{company,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, #{cardFace,jdbcType=INTEGER}, #{cardBack,jdbcType=INTEGER}, #{profile, jdbcType=VARCHAR},
        #{active,jdbcType=BIT}, #{createDate,jdbcType=TIMESTAMP})
    </insert>

    <update id="update" parameterType="com.activity.model.ActivityEnroll">
        update activity_enroll
        set name = #{name,jdbcType=VARCHAR},
        sex = #{sex,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR},
        political = #{political,jdbcType=VARCHAR},
        company = #{company,jdbcType=VARCHAR},
        job = #{job,jdbcType=VARCHAR},
        profile = #{profile,jdbcType=VARCHAR},
        card_face = #{cardFace,jdbcType=INTEGER},
        card_back = #{cardBack,jdbcType=INTEGER},
        active = #{active,jdbcType=BIT}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>