<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.activity.mapper.ActivityDistrictMapper">
    <resultMap id="BaseResultMap" type="com.activity.model.ActivityDistrict">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="active" property="active" jdbcType="BIT"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, active, create_date
    </sql>

    <select id="selectOne" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from activity_district
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectList" resultMap="BaseResultMap" parameterType="com.activity.model.ActivityDistrict">
        select
        <include refid="Base_Column_List"/>
        from activity_district
        where 1 = 1
        <if test="active != null">
            and active = #{active, jdbcType=BIT}
        </if>
        <if test="name != null and name != ''">
            and name like concat('%', #{name, jdbcType=VARCHAR}, '%')
        </if>
        order by id desc
    </select>

    <insert id="insert" parameterType="com.activity.model.ActivityDistrict">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            select LAST_INSERT_ID()
        </selectKey>
        insert into activity_district (id, name, active, create_date)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{active,jdbcType=BIT}, #{createDate,jdbcType=TIMESTAMP})
    </insert>

    <update id="update" parameterType="com.activity.model.ActivityDistrict">
        update activity_district
        set name = #{name,jdbcType=VARCHAR},
        active = #{active,jdbcType=BIT},
        create_date = #{createDate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>