<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.activity.mapper.ActivityThumbupMapper">
    <resultMap id="BaseResultMap" type="com.activity.model.ActivityThumbup">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="activity_id" property="activityId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="up_time" property="upTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, activity_id, user_id, up_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from activity_thumbup
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectList" resultMap="BaseResultMap" parameterType="com.activity.model.ActivityThumbup">
        select
        <include refid="Base_Column_List"/>
        from activity_thumbup
        where 1 = 1
        <if test="activityId != null">
            and activity_id = #{activityId,jdbcType=INTEGER}
        </if>
        <if test="userId!=null">
            and user_id = #{userId,jdbcType=INTEGER}
        </if>
    </select>

    <insert id="insert" parameterType="com.activity.model.ActivityThumbup">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            select LAST_INSERT_ID()
        </selectKey>
        insert into activity_thumbup (activity_id, user_id, up_time)
        values (#{activityId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{upTime,jdbcType=TIMESTAMP})
    </insert>

    <delete id="delete" parameterType="com.activity.model.ActivityThumbup">
        DELETE FROM activity_thumbup
        WHERE user_id = #{userId,jdbcType=INTEGER} AND activity_id = #{activityId,jdbcType=INTEGER}
    </delete>
</mapper>