<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.activity.mapper.AdsenseMapper">
    <resultMap id="BaseResultMap" type="com.activity.model.Adsense">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="page_name" property="pageName" jdbcType="VARCHAR"/>
        <result column="active" property="active" jdbcType="BIT"/>
    </resultMap>

    <select id="selectOne" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select id, name, content, url, page_name, active from adsense
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectList" resultMap="BaseResultMap" parameterType="com.activity.model.Adsense">
        select id, name, content, url, page_name, active from adsense
        where 1 = 1
        <if test="pageName != null and pageName != ''">
            and page_name = #{pageName,jdbcType=VARCHAR}
        </if>
        <if test="active != null">
            and active = #{active,jdbcType=BIT}
        </if>
    </select>

    <insert id="insert" parameterType="com.activity.model.Adsense">
        insert into adsense (name, content, url, page_name, active)
        values(#{name,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{pageName,jdbcType=VARCHAR}, #{active,jdbcType=BIT})
    </insert>

    <update id="update" parameterType="com.activity.model.Adsense">
        update adsense
        set name = #{name,jdbcType=VARCHAR},
        content = #{content,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR},
        page_name = #{pageName,jdbcType=VARCHAR},
        active = #{active,jdbcType=BIT}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM adsense
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

</mapper>