<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.activity.mapper.ETLTaskActivityMapper">
    <resultMap id="BaseResultMap" type="com.activity.model.ETLTaskActivity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="success_time" property="successTime" jdbcType="TIMESTAMP"/>
        <result column="success" property="success" jdbcType="BIT"/>
        <result column="created_date" property="createdDate" jdbcType="TIMESTAMP"/>
        <result column="modified_date" property="modifiedDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select id, name, success_time, success, created_date, modified_date
        from etl_task_activity
        where name = #{name,jdbcType=VARCHAR}
    </select>

    <insert id="save" parameterType="com.activity.model.ETLTaskActivity">
        insert into etl_task_activity(name, success_time, success, created_date, modified_date)
        values (#{name,jdbcType=VARCHAR}, #{successTime,jdbcType=TIMESTAMP}, #{success,jdbcType=BIT}, #{createdDate,jdbcType=TIMESTAMP},#{modifiedDate,jdbcType=TIMESTAMP})
    </insert>

    <update id="update" parameterType="com.activity.model.ETLTaskActivity">
        update etl_task_activity
        set name = #{name,jdbcType=VARCHAR},
        success_time = #{successTime,jdbcType=TIMESTAMP},
        success = #{success,jdbcType=BIT},
        created_date = #{createdDate,jdbcType=TIMESTAMP},
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>