<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.activity.mapper.RollingImageMapper">
    <resultMap id="BaseResultMap" type="com.activity.model.RollingImage">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="upload_file_id" property="uploadFileId" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="active" property="active" jdbcType="BIT"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectOne" resultMap="BaseResultMap" parameterType="java.lang.String">
        select id, name, upload_file_id, url, active, create_date from rolling_image
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectList" resultMap="BaseResultMap" parameterType="com.activity.model.RollingImage">
        select id, name, upload_file_id, url, active, create_date from rolling_image
        where 1 = 1
        <if test="active != null">
            and active = #{active,jdbcType=BIT}
        </if>
    </select>

    <insert id="insert" parameterType="com.activity.model.Adsense">
        insert into rolling_image (name, upload_file_id, url, active, create_date)
        values (#{name,jdbcType=VARCHAR}, #{uploadFileId,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{active,jdbcType=BIT}, #{createDate,jdbcType=TIMESTAMP})
    </insert>

    <update id="update" parameterType="com.activity.model.Adsense">
        update rolling_image
        set name = #{name,jdbcType=VARCHAR},
        upload_file_id = #{uploadFileId,jdbcType=INTEGER},
        url = #{url,jdbcType=VARCHAR},
        active = #{active,jdbcType=BIT}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM rolling_image
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

</mapper>