<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.activity.mapper.UsersMapper">
    <resultMap id="BaseResultMap" type="com.activity.model.Users">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="head_img_url" property="headImgUrl" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="active" property="active" jdbcType="BIT"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, sex, city, province, country, head_img_url, remark, active, create_date
    </sql>

    <select id="selectOne" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from users
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectUserScore" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select u.id, u.name, u.head_img_url, u.active, u.create_date, IFNULL(SUM(us.score), 0) score
        from users u
        left join users_score us on u.id = us.user_id
        where u.id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectList" resultMap="BaseResultMap" parameterType="com.activity.model.Users">
        select u.id, u.name, u.head_img_url, u.active, u.create_date, SUM(us.score) score
        from users u
        left join users_score us on u.id = us.user_id
        where 1 = 1
        <if test="name != null and name != ''">
            and u.name like concat('%', #{name, jdbcType=VARCHAR}, '%')
        </if>
        group by u.id
        order by u.id desc
    </select>

    <insert id="insert" parameterType="com.activity.model.Users">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            select LAST_INSERT_ID()
        </selectKey>
        insert into users (id, name, sex, city, province, country, head_img_url, remark,active, create_date)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR},
        #{country,jdbcType=VARCHAR}, #{headImgUrl,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{active,jdbcType=BIT},
        #{createDate,jdbcType=TIMESTAMP})
    </insert>

    <update id="update" parameterType="com.activity.model.Users">
        update users
        set name = #{name,jdbcType=VARCHAR},
        sex = #{sex,jdbcType=VARCHAR},
        city = #{city,jdbcType=VARCHAR},
        province = #{province,jdbcType=VARCHAR},
        country = #{country,jdbcType=VARCHAR},
        head_img_url = #{headImgUrl,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR},
        active = #{active,jdbcType=BIT}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>